<app-navbar></app-navbar>

<div class="container" *ngIf="!!hotelDetails && !!hotelOtherDetails">
  <h2>{{ hotelOtherDetails.name }}</h2>

  <div class="hotel-image">
    <img [src]="hotelImage" alt="hotel image">
  </div>

  <h3>
    <span>
      <span class="star__rating" *ngFor="let item of [].constructor(hotelOtherDetails.class)">
        <img src="../../../assets/images/star.png" alt="" srcset="">
      </span>
    </span>
    <span class="rating-text">{{ getRatingText(hotelOtherDetails.review_score) }}</span>
  </h3>

  <div>Avaliação: <span class="review__score">{{ hotelOtherDetails.review_score }}</span></div>

  <div *ngIf="!isEmpty(hotelDetails.block_price_breakdown)" class="mt-3">
    Custo por Noite: {{ hotelDetails.block[0].product_price_breakdown?.net_amount.currency }}
    {{ roundPrice(hotelDetails.block[0].product_price_breakdown.net_amount.value) }}
  </div>

  <div class="mt-3">
    <div>Nome do Hotel: {{ hotelOtherDetails.name }}</div>
    <div>Endereço: {{ hotelOtherDetails.address }}</div>
    <div>Código Postal: {{ hotelOtherDetails.zip }}</div>
    <div>Cidade: {{ hotelOtherDetails.city }}</div>
  </div>

  <div class="mt-3">
    Listagem no Booking: <a [href]="hotelDetails.url" target="_blank">Clique Aqui</a>
  </div>

  <div class="mt-3">Instalações: </div>
  <div class="facilities__block mt-2">
    <p *ngFor="let facility of hotelDetails.facilities_block.facilities">
      <i class="fas fa-check-circle icon"></i>
      {{ facility.name }}
    </p>
  </div>

<app-footer></app-footer>
